body{
    background-color: #4a6350;
    color: rgba(255, 255, 255, 0.9);
}


.jumbotron {
    /* background-image: url('./images/IMG_7183.jpg'); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
    /* mix-blend-mode: darken; */
}

.heroText {
    /* height: 75vh; */
    margin-top: 0vh;
}

.bioText {
    margin-top: 40vh;
    margin-left: 20vw;
}

.tic-tac-toe {
    background-position: center;
    background-size: cover;
}

/* .cardText {
    margin-top: 200px;
} */
/* .col-sm-12 {
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* height: 100vh; */
    /* background-position: -400px 100px; */
/* } */ 

/* svg {
    background-color: #4a6350;
} */

.portCard {
    height: 30vh;
    margin-top: 20px;
}