.aboutCard {
    /* height: 50vh; */
    margin-top: 13vh;
    width: 90vw;
    /* background-color: rgba(54, 55, 58, 0.5); */
    /* background-color: rgba(255, 255, 255, 0.343); */
    
    background-color: var(--main-grey);
    /* color: rgba(255, 255, 255, 0.9); */
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 10px hsla(0, 0%, 0%, .3),
    2px 4px 20px hsla(0, 0%, 0%, .2);
}

.aboutImg {
    height: 65vh;
}

.latteImg {
    height: 65vh;
}

@media screen and (max-width: 600px) {

    .aboutImg {
        height: 30vh;
    }
    
}