.jumbotron {
    background-image: url(./images/smoke.jpg);
    height: 100vh;
    opacity: 0.9;
    position: relative;
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroText {
    position: absolute;
}

@media screen and (max-width: 600px) {
    .jumbotron {
        /* background-image: url('./images/IMG_7183\ \(1\).jpg'); */
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        background-position-x: 70%;
    }
}


.home-bottom {
    height: 50vh;
    background-color: rgb(74, 99, 80);
    /* z-index: 2; */
}