.portfolioCards {
    background-position: center;
    background-size: cover;
}

/* .portCard {
    height: 30vh;
} */

.portfolioIframe {
    height: 30vh;
    /* width: 100%; */
}


.tic-tac-toe {
    background-image: url('./images/tic-tac-toe.png');
}

.mind-reader {
    background-image: url('./images/mind-reader.png');
}

.alarm-clock {
    background-image: url('./images/alarm-clock.png');
}

.scary-story-generator {
    background-image: url('./images/scary-story-generator.png');
}

.thundercat {
    background-image: url('./images/thundercat.png');
}

.weather-app {
    background-image: url('./images/weather-app.png');
}

